/build/
/app/build/
/.idea/
/*.iml
*.iws
.gradle/
/local.properties
*.log
*.tmp
*.temp
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
*.jks
*.keystore
/captures/
/.externalNativeBuild/
/androidTest/build/
/test/build/
/*.apk
/*.ap_
/proguard/
.gradle/
/build/
lint/intermediates/
lint/generated/
lint/outputs/
/local.properties
captures/
*.hprof
.DS_Store
*.swp
*.swo
.navigation/
/release/
/publish/
*.jks
*.keystore
